<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Create</servlet-name>
        <servlet-class>com.view.Create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProducts</servlet-name>
        <servlet-class>com.view.ListProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveProduct</servlet-name>
        <servlet-class>com.view.SaveProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>com.view.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProudct</servlet-name>
        <servlet-class>com.view.GetProudct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOneProduct</servlet-name>
        <servlet-class>com.view.GetOneProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>com.view.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePhone</servlet-name>
        <servlet-class>com.view.DeletePhone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDetailsError</servlet-name>
        <servlet-class>com.view.GetDetailsError</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndSesion</servlet-name>
        <servlet-class>view.crud.EndSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainAprovisionamiento</servlet-name>
        <servlet-class>view.MainAprovisionamiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailAprovisionamiento</servlet-name>
        <servlet-class>view.DetailAprovisionamiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PcrfAprovisionamiento</servlet-name>
        <servlet-class>view.PcrfAprovisionamiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notification</servlet-name>
        <servlet-class>view.Notification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableList</servlet-name>
        <servlet-class>view.crud.TableList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableDelete</servlet-name>
        <servlet-class>view.crud.TableDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableSave</servlet-name>
        <servlet-class>view.crud.TableSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOptionList</servlet-name>
        <servlet-class>view.crud.GetOptionList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOptionListSplit</servlet-name>
        <servlet-class>com.view.GetOptionListSplit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableSavePerService</servlet-name>
        <servlet-class>view.crud.TableSavePerService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectData</servlet-name>
        <servlet-class>view.crud.SelectData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableUpdate</servlet-name>
        <servlet-class>view.crud.TableUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOptionListAlternative</servlet-name>
        <servlet-class>view.crud.GetOptionListAlternative</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>view.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateResult</servlet-name>
        <servlet-class>com.view.UpdateResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterResult</servlet-name>
        <servlet-class>com.view.FilterResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOptionListService</servlet-name>
        <servlet-class>view.crud.GetOptionListService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetServiceAddPack</servlet-name>
        <servlet-class>view.crud.GetServiceAddPack</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UploadProfile</servlet-name>
        <servlet-class>com.view.UploadProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EndSesion</servlet-name>
        <url-pattern>/EndSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainAprovisionamiento</servlet-name>
        <url-pattern>/MainAprovisionamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailAprovisionamiento</servlet-name>
        <url-pattern>/DetailAprovisionamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PcrfAprovisionamiento</servlet-name>
        <url-pattern>/PcrfAprovisionamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notification</servlet-name>
        <url-pattern>/Notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableList</servlet-name>
        <url-pattern>/TableList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableDelete</servlet-name>
        <url-pattern>/TableDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableSave</servlet-name>
        <url-pattern>/TableSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOptionList</servlet-name>
        <url-pattern>/GetOptionList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOptionListSplit</servlet-name>
        <url-pattern>/GetOptionListSplit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableSavePerService</servlet-name>
        <url-pattern>/TableSavePerService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectData</servlet-name>
        <url-pattern>/SelectData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableUpdate</servlet-name>
        <url-pattern>/TableUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOptionListAlternative</servlet-name>
        <url-pattern>/GetOptionListAlternative</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create</servlet-name>
        <url-pattern>/Create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndSesion</servlet-name>
        <url-pattern>/EndSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProducts</servlet-name>
        <url-pattern>/ListProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveProduct</servlet-name>
        <url-pattern>/SaveProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProudct</servlet-name>
        <url-pattern>/GetProudct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOneProduct</servlet-name>
        <url-pattern>/GetOneProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePhone</servlet-name>
        <url-pattern>/DeletePhone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDetailsError</servlet-name>
        <url-pattern>/GetDetailsError</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateResult</servlet-name>
        <url-pattern>/UpdateResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterResult</servlet-name>
        <url-pattern>/FilterResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOptionListService</servlet-name>
        <url-pattern>/GetOptionListService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetServiceAddPack</servlet-name>
        <url-pattern>/GetServiceAddPack</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UploadProfile</servlet-name>
        <url-pattern>/UploadProfile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
